<div class="chat-container">
  <aside class="chat-users">
    <div class="users-header">
      <div>
        <p>Messages</p>
        <h2>Conversations</h2>
      </div>
    </div>

    <div class="search-box">
      <i class="fa-solid fa-magnifying-glass"></i>
      <input type="text" [ngModel]="searchTerm()" (ngModelChange)="onSearchUsers($event)" placeholder="Search users">
    </div>

    <div class="user-list">
      @for (user of usersList(); track $index) {
      <button type="button" class="user-item" [class.active]="selectedUser()?.id === user.id"
        (click)="selectUser(user)">
        <div class="avatar">
          {{ getInitials(getDisplayName(user)) }}
          <span class="presence" [class.offline]="user.status === 'offline'"></span>
        </div>

        <div class="user-meta">
          <div class="user-row">
            <h3>{{ getDisplayName(user) }}</h3>
            @if (user.unread) {
            <span class="unread">{{ user.unread }}</span>
            }
          </div>
          <p>{{ user.role }} - {{ getDepartmentName(user) }}</p>
          <small>{{ user.lastMessage }}</small>
        </div>
      </button>
      }
    </div>
  </aside>

  <section class="chat-panel">
    <header class="chat-header">
      <!-- profile icon -->
      <div class="avatar large">
        {{ getInitials(getDisplayName(selectedUser())) }}
      </div>

      <!-- profile details -->
      <div>
        <h1>{{ getDisplayName(selectedUser()) }}</h1>
        <p>
          {{ selectedUser()?.role || 'Conversation' }}
          @if (selectedUser()) {
          <span>- {{ selectedUser()?.status }}</span>
          }
        </p>
      </div>
    </header>

    <!-- MESSAGES -->
    <div class="messages" #messagesContainer>
      @for (msg of messages(); track $index) {
      <div class="message-bubble" [class.my-message]="isMyMessage(msg)" [class.other-message]="!isMyMessage(msg)">
        {{ getMessageText(msg) }}
      </div>
      }

      @if (messages().length === 0) {
      <div class="empty-state">
        <i class="fa-regular fa-comments"></i>
        <p>Select a user and start conversation</p>
      </div>
      }
    </div>

    <!-- INPUT -->

    <div class="input-box">
      <input type="text" [ngModel]="message()" (ngModelChange)="message.set($event)" (keyup.enter)="sendMessage()"
        placeholder="Type message...">

      <button type="button" (click)="sendMessage()">
        <i class="fa-solid fa-paper-plane"></i>
        <span>Send</span>
      </button>
    </div>
  </section>
</div>