<div class="sidebar-wrapper">
    <div class="sidebar-main">
        <div class="sidebar-brand">
            <div class="brand-mark">S</div>
            <div>
                <h1>{{ sharedService?.userDetails?.username }}</h1>
                <p>{{sharedService?.userDepartment?.name}}</p>
            </div>
        </div>

        <nav class="sidebar-nav">
            <a *ngFor="let item of coreDepartment" class="sidebar-link" [routerLink]="item.url">
                <i class="{{ item?.icon }}"></i>
                <span class="sidebar-text">{{ item.name }}</span>
            </a>
        </nav>
    </div>
</div>