<div class="sidebar-wrapper">
    <div class="sidebar-main">
        <div class="sidebar-brand">
            <img src="../../../../assets/img/logo_new.png" alt="">
        </div>

        <nav class="sidebar-nav">
            <a *ngFor="let item of coreDepartment" class="sidebar-link" [routerLink]="item.url">
                <i class="{{ item?.icon }}"></i>
                <span class="sidebar-text">{{ item.name }}</span>
            </a>
        </nav>

        <div class="sidebar-user-details">
            <h1>{{ sharedService?.userDetails?.username }}</h1>
            <p><b>Department : </b>{{sharedService?.userDepartment?.name}}</p>
        </div>
    </div>
</div>