:root {
    --primary-color: #0A192F;
    --secondary-color: #0F2A44;
    --third-color: white;
    --black-color: black;
    --dark-gray-color: #333333;
    --light-gray-color: #555555;
    --background-gradient: linear-gradient(135deg, var(--primary-color) 0%, var(--secondary-color) 100%);
}